BasedOnStyle: LLVM
Language: Cpp
Standard: c++20
TabWidth: 4
IndentWidth: 4
UseTab: Never
ColumnLimit: 160

#LineEndingStyle: LF
#MaxEmptyLinesToKeep: 3

##-- Alignment
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: false
#AlignConsecutiveTableGenDefinitionColons:
#  Enabled: true
#  AcrossEmptyLines: true
#  AcrossComments: false
AlignEscapedNewlines: Left # LeftWithLastLine # Right
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 1
DerivePointerAlignment: false
PointerAlignment: Right

##-- Single line statements
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Inline
AllowShortLoopsOnASingleLine: false

##-- Braces
BreakBeforeBraces: Custom #Allman
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: false
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: true
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
Cpp11BracedListStyle: false

##-- Line breaks
#AllowBreakBeforeNoexceptSpecifier: OnlyWithParen
AlwaysBreakAfterDefinitionReturnType: All
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: true
BreakAfterAttributes: Always
AlwaysBreakTemplateDeclarations: true
BreakAfterJavaFieldAnnotations: false
BreakBeforeBinaryOperators: None
BreakBeforeConceptDeclarations: Always
BreakConstructorInitializers: AfterColon
#BreakInheritanceList: AfterColon
BreakBeforeTernaryOperators: false
BreakConstructorInitializersBeforeComma: true
BreakStringLiterals: false

##-- Indentation
IndentCaseBlocks: false
IndentCaseLabels: true
IndentExternBlock: AfterExternBlock
IndentGotoLabels: true
IndentPPDirectives: AfterHash
LambdaBodyIndentation: Signature
NamespaceIndentation: Inner

##-- Spaces in/between statements/etc
MaxEmptyLinesToKeep: 2
SeparateDefinitionBlocks: Always
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: false
#SpaceAroundPointerQualifiers: Left
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInContainerLiterals: false
SpacesInParentheses: false
SpacesInSquareBrackets: false


##-- Code sections/blocks
#MacroBlockBegin: [regex -> EXC_TRY...]
#MacroBlockEnd:
FixNamespaceComments: true
ShortNamespaceLines: 2
#StatementMacros: [-> ASSERT?]

##-- Misc
AllowAllParametersOfDeclarationOnNextLine: true
AccessModifierOffset: -4
BinPackArguments: false
BinPackParameters: false
ConstructorInitializerAllOnOneLineOrOnePerLine: false
DisableFormat: false
ExperimentalAutoDetectBinPacking: false
InsertNewlineAtEOF: true
KeepEmptyLinesAtTheStartOfBlocks: false
ReflowComments: false

#-- Include order
#IncludeIsMainRegex: '$?'
#IncludeBlocks: Regroup
IncludeCategories:
#TODO: main include!
    # Headers in "" with .h extension.
    - Regex: '"([A-Za-z0-9\/-_])+\.h"'
      Priority: 1
    # Headers in "" with .hpp extension.
    - Regex: '"([A-Za-z0-9\/-_])+\.hpp"'
      Priority: 2

    # Headers in <> with .h extension.
    - Regex: '<([A-Za-z0-9\/-_])+\.h>'
      Priority: 10
    # Headers in <> with .hpp extension.
    - Regex: '<([A-Za-z0-9\/-_])+\.hpp>'
      Priority: 20
    # Headers in <> without extension.
    - Regex: '<([A-Za-z0-9\/-_])+>'
      Priority: 30
SortIncludes: false #CaseSensitive
