#https://stackoverflow.com/questions/20496084/git-status-ignore-line-endings-in-identical-files-on-windows-linux

# Set the default behavior for all files.
*       text=auto
# Ignore all differences in line endings.
*       -crlf

# Normalize and convert to native line endings on checkout.
*.c     text eol=lf
*.cpp   text eol=lf
*.h     text eol=lf
*.hpp   text eol=lf
*.txt	text eol=lf

# Convert to LF line endings on checkout.
#*      text eol=lf

# CMake template files
*.h.in linguist-language=C++
#*.cpp.in linguist-language=C++
#*.c.in linguist-language=C
