# Ignore folders
/.git
/.vscode
*.vshistory*
/.kdev*
/.ctagsd
/.codelite

/CMakeFiles
/spheresvr.dir

/bin
/bin64
/Debug
/Release
/Nightly
/backup
/x64
/x86
/obj
/build

/mul
/accounts
/logs
/save
/web
/scripts


# Ignore files
*.bak
*.log
*.old
*.tmp
*.pid
*.*swp*
*.fuse*

*.o
*.obj
*.exe

*.vs
*.vcxproj
*.sln
*.user
*.*project
*.*workspace
*.kdev*


# Ignore some files in the parent folder
CMakeCache.txt

# Ignore git versioning file
/src/common/version/GitRevision.h

# Ignore other specific files
/lib/libev/libev/config.h
/lib/mariadb_connector_c/mysql/config.h
/lib/mariadb_connector_c/mysql/ma_config.h
/lib/mariadb_connector_c/mysql/mariadb_version.h
