# Ignore folder and files
/.git/
/.vscode/
/CMakeFiles/
/spheresvr.dir/

/bin
/bin64
/Debug
/Release
/Nightly
/backup/
/x64/
/x86/
/obj/
/build/

/mul
/accounts/
/logs/
/save/
/web/

*.vs
*.pid

# Ignore files
*.bak
*.log
*.old
*.tmp
*.o
*.obj
*.exe
*.vcx*
*.sln

# Ignore some files in the parent folder
CMakeCache.txt

# Ignore git versioning file
/src/common/version/GitRevision.h
/src/common/libev/config.h

# Ignore other specific files
/lib/mariadb/config.h
/lib/mariadb/ma_config.h
/lib/mariadb/mariadb_version.h
