name: Linux x86_64_deb

on:
  push:
#    branches:
#      - 'master'
#      - 'main'
      paths-ignore:
        - '.gitignore'
        - '.gitattributes'
        - '**.txt'
        - '**.md'
        - '**.rc'
  pull_request:
    branches:
      - 'master'
      - 'main'

jobs:
  linux-x86_64_deb:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      actions: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Install prerequisites
        run:  |
          lsb_release -d
          
          sudo add-apt-repository universe && sudo sudo apt-get -qq update
          sudo apt-get install -yq --no-install-recommends \
            ninja-build gcc-12 g++-12 \
            dpkg-dev debhelper-compat build-essential \
            mariadb-client libmariadb-dev
          sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-12 90 --slave /usr/bin/g++ g++ /usr/bin/g++-12

      - name: Report building tools
        run:  |
          echo "GCC:" && gcc -v
          echo "Default Linker:" && ld -v
          echo && echo "CMake:" && cmake --version
          echo && echo "Ninja:" && ninja --version

      - name: Create package
        run: |
          cd packaging
          cat debian/data/changelog | sed -e "s/@version@/$(git rev-list --count HEAD)/" -e "s/@date@/$(date -R)/" > debian/changelog
          dpkg-buildpackage -us -uc -b -d
          mv ../sphereserver_0.X.nightly-$(git rev-list --count HEAD)_amd64.deb ../SphereSvrX-linux-x86_64-nightly.deb

      # Upload artifact linked to the workflow run - only if the run is for a pull request, or for selected branches
      - name: Upload artifact
        if: contains(fromJson('["master", "main"]'), github.ref_name) || github.event_name == 'pull_request'
        uses: actions/upload-artifact@v4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          name: Build-linux-x86_64_deb
          path: SphereSvrX-linux-x86_64-nightly.deb
          overwrite: true

  upload_github_release:
    needs: linux-x86_64_deb
    # Upload artifact linked to GitHub RELEASE we are creating - only if the run is for a pull request, or for selected branches
    if: contains(fromJson('["master", "main"]'), github.ref_name)
    permissions:
      contents: read
      actions: write

    runs-on: ubuntu-latest
    steps:
      - name: Download builds
        uses: actions/download-artifact@v5
        with:
          name: Build-linux-x86_64_deb
          merge-multiple: true
          run-id: ${{ github.run_id }}

      - name: Create release
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          name: Nightly
          tag_name: Nightly
          prerelease: true
          files: SphereSvrX-linux-x86_64-nightly.deb

  upload_selfhost_release:
    needs: linux-x86_64_deb
    if: contains(fromJson('["master", "main"]'), github.ref_name) && (github.repository == 'SphereServer/Source-X')
    permissions:
      contents: write
      actions: read

    runs-on: ubuntu-latest
    steps:
      - name: Download builds
        uses: actions/download-artifact@v5
        with:
          name: Build-linux-x86_64_deb
          merge-multiple: true
          run-id: ${{ github.run_id }}
      - name: Push release
        run: |
          curl -sST "{SphereSvrX-linux-x86_64-nightly.deb}" -u ${{secrets.UP_USER}}:${{secrets.UP_PASS}} ${{secrets.UP_WHERE}}
